body {
  background-color: rgb(198, 198, 198);
}

main {
  background-color: burlywood;
}

p {
  background-color: blue;
  color:aliceblue
}

h1 {
  color:black
}

.GreenBgColor {
  background-color: green;
}

.TextStyle {
  text-decoration: line-through;
}

.class3 {
  font-size: xx-large;
}

.class4 {
  font-family: Arial, Helvetica, sans-serif 
}

.class5 {
  font-style: italic;
  background-color: blue;
}